{% extends 'app/layouts/base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}

<div class="about_game">
        <div  class="description">
            <p>
        Warcraft III: The Frozen Throne— официальное дополнение к компьютерной игре в жанре стратегии в реальном времени в 2002 года Warcraft III: Reign of Chaos.
            </p>
    </div>
    <div class="description">
        <p>Сюжет</p>
        <p>
            События дополнения продолжают сюжет Warcraft III: Reign of Chaos. После битвы на горе Хиджал расы Азерота стали возвращаться к мирной жизни. Однако последствия Третьей Войны порождают новые конфликты. Как и в предыдущей части, сюжетная линия представлена в виде кампаний, которые образуют общий сюжет. Каждая кампания состоит из глав.
        </p>
    </div>
    <div class="description">
        <p>Новведения</p>
        <p>
            Игра заметно отличается от Warcraft III: Reign of Chaos. Теперь на своей базе можно строить магазин предметов и покупать их прямо там. У каждой расы магазин уникален. Появилась таверна, в которой можно нанимать нейтральных героев. У каждой расы появилось несколько новых юнитов и по одному новому герою. Были изменены цены на все объекты в игре: предметы, юнитов, постройки, улучшения и наёмников. Добавились новые типы атаки (магическая, «герой» и т. д.) и защиты («без защиты»). В последующих обновлениях были добавлены новые нейтральные герои, а также продолжение оригинальной кампании за орков. Значительно расширен игровой редактор за счёт чего игроки могли создавать свои кампании, озвучивать их, делать свои квесты и т. д. благодаря которому игра остаётся популярной и по сей день.
        </p>

    </div>
    <div class="description">
        <p>Разработка и развитие игры</p>
        <p>Warcraft III: The Frozen Throne был анонсирован 22 января 2003 года[2]. 14 февраля того же года компанией был запущен закрытый бета-тест, в котором приняло участие 10 000 человек[3], 10 марта количество тестеров было увеличено ещё на 10 000[4]. 28 мая компания Soft-Club сообщила о завершении перевода дополнения на русский язык[5]. 29 мая 2003 года игра ушла на золото[6].

            Дальнейшее развитие происходит с выходом официальных обновлений, которые в основном исправляют ошибки и меняют игровой баланс. Например, уже первое выпущенное обновление, 1.10, внесло около 100 изменений в дополнение и оригинал. Некоторые обновления добавляли новый контент и дополнительные возможности: так, в обновлении 1.13 было добавлено продолжение кампании орков, а в обновлениях 1.15 и 1.17 — новые нейтральные герои. Кроме того, одно время на сайте Battle.net публиковались новые melee- и custom-карты. Все их можно скачать оттуда, а melee-карты вошли в официальные обновления и часть из них используется для рейтинговых игр на Battle.net.

                16 апреля 2004 года, для тестирования новых возможностей обновления 1.15, Blizzard впервые вводит в эксплуатацию новый публичный тестовый сервер Battle.net под названием Westfall[7]. В частности, среди новых возможностей этого обновления были улучшения основных серверов Battle.net: обновление системы поиска противника (англ. AMM ), более анонимный вариант игры «Каждый за себя» (англ. free for all) и рейтинговая система (англ. ladder) для кланов. Выход обновления состоялся 10 мая 2004 года. В дальнейшем, Westfall использовался для бета-теста некоторых других обновлений[8][9].

                6 февраля 2008 года было выпущено обновление 1.21b, в котором была отключена проверка наличия диска игры в CD/DVD-приводе[10]. Однако для игры на серверах Battle.net все так же требуется лицензионный CD-key. 1 мая 2009 года на официальном сайте была опубликована информация о том, что в игре существует уязвимость, с помощью которой злоумышленник может запустить вредоносный код через изменённую пользовательскую карту[11][12]. Было сообщено, что после выхода исправления авторам некоторых карт потребуется частично переписать их код[13]. Уязвимость была устранена 4 августа 2009 года с выпуском обновления 1.24[14].

                    В апреле 2018 вышло обновление 1.29, в котором была введена поддержка широкоформатных мониторов, значительно обновлен баланс героев, новые наборы карт для всех рейтинговых режимов (bnet), крупные дополнения для редактора (увеличение размеров карты до 480х480, увеличение лимита количества объектов — 30 000, количество типов ландшафта 16 и другое), увеличение максимального количества игроков до 24

[15].

Несмотря на отключение всех официальных серверов, Warcraft III The Frozen Throne по-прежнему можно играть на приватных серверов.[16]</p>
    </div>
    <div class="description">
        <p>Рецензии и оценки</p>
        <p>
            Дополнение получило высокие оценки критиков. На GameRankings Warcraft III: The Frozen Throne имеет оценку 90,98 %, а на Metacritic дополнение получило 88 баллов из ста возможных.[21][22]

IGN оценили игру в 9 баллов из 10, отметив сохранение планки качества на уровне предыдущей игры: «Это дополнение делает то, что должно — продлевает жизнь оригинальной игре, значительно расширяя её содержимое».[32]

Джон Кифер из GameSpy дал игре 4,5 звёзд из 5 со словами: «Это очень целостное и приятное дополнение от Blizzard. Учтите, что вы получаете большое количество контента, которого у некоторых разработчиков хватило бы на целую игру».[31]

Олег Ставицкий из редакции журнала Игромания похвалил игру, отметив, что «Blizzard свято блюдет добрые традиции и не пытается сыграть на чувствах фанатов, выпуская практически полновесную игру под видом безобидного дополнения».[35] Также игра была признана лучшим дополнением 2004 года Игроманией.
        </p>
    </div>


</div>

{% endblock %}