{% extends 'app/layouts/base.html' %}
{% block title %}All Audios{% endblock %}

{% block content %}
    <div>
    <button class="add-btn"><a href="{% url 'add_audio' %}">Add audio</a></button>
    </div>
    <div style="margin-left: 30%; margin-top: 20px">
        <div class="audios-gallery">
            {% for audio in audios %}
                <div class="audio-card" style="margin-top: 20px;">
                    <audio controls>
                        <source src="{{ audio.audio_file.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>

                    <p>{{ audio.title }}</p>

                    <form method="POST" action="{% url 'delete_audio' audio.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>

                    <a href="{% url 'edit_audio' audio.id %}" class="edit-btn">Edit</a>
                </div>
            {% empty %}
                <p>No audios available.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
